name: CI and Deploy Storybook to GitHub Pages

on:
  push:
    branches:
      - "**"

permissions:
  contents: write

jobs:
  build-and-deploy-storybook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install Dependencies
        run: npm install --frozen-lockfile

      - name: Run Prepublish Only
        run: npm run prepublishOnly

      - name: Install and Build
        run: |
          npm run build-storybook

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: storybook-static
